<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>用户登录</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../../../static/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="../../../static/css/font-awesome.css" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

</head>
<body style="background-color: #E2E2E2;">
<div class="container">
    <div class="row text-center " style="padding-top:100px;">
        <div class="col-md-12">
            <img width="200" height="200" src="../../../static/image/Tree.jpeg"/>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <div class="panel-body">
                <form role="form">
                    <hr/>
                    <h2>登录</h2>
                    <br/>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                        <input type="text" class="form-control" placeholder="用户名" id="username"/>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" placeholder="密码" id="password"/>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox"/> 记住我
                        </label>
                        <span class="pull-right">
                                       <a href="#">忘记密码 ? </a>
                                </span>
                    </div>
                    <a class="btn btn-primary" onclick="login()">登录</a>
                    <a href="/register/">点击注册</a>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../../../static/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../../../static/js/bootstrap.js"></script>
<script src="../../../static/js/md5.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="../../../static/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script>
    function login() {
        var username = $('#username').val();
        var password = hex_md5($('#password').val());
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "http://127.0.0.1:8000/login/",
            data: {
                'username': username, 'password': password
            },
            success: function success(data) {
                if (data.status == "failed")
                    alert(data.reason);
                if (data.status == "success") {
                    {#alert(data.reason);#}
                    location.href = '/index/';
                }
            },
            error: function error() {
                alert('数据发送失败', '请检查网络连接', 'error');
            }
        });
    }
</script>
</body>

</html>
