<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>添加引导语</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="../static/css/font-awesome.css" rel="stylesheet"/>
    <!-- PAGE LEVEL STYLES -->
    <link href="../static/css/prettyPhoto.css" rel="stylesheet"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="../static/css/basic.css" rel="stylesheet"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="wrapper">
    {% include 'nav_left.html' %}
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <fieldset style="position:absolute;left:30%;top:15%;width:75%;height:75%">
                    <legend>请添加引导语</legend>

                    <form action="">
                        <p>选择正确选项</p>
                        <select id="right">
                            {% for x in options %}
                                <option value="{{ x }}">{{ x }}</option>
                            {% endfor %}
                        </select>
                        <p>选择患者选项</p>
                        <select id="wrong">
                            {% for x in options %}
                                <option value="{{ x }}">{{ x }}</option>
                            {% endfor %}
                        </select>


                        <br/>

                        <div class="row" align="center">
                            <button type="button" onclick="viewGuide()" style="position:absolute;left:70%"
                            >
                                查询相关引导语
                            </button>

                        </div>

                    </form>
                    <br/>
                    <br/>
                    <p>以下是已存在的相关引导语</p>
                    <table border="1" width="80%">
                        <tr>
                            <td width="5%">id</td>
                            <td width="15%">正确选项</td>
                            <td width="15%">患者选项</td>
                            <td width="60%">引导语</td>
                            <td width="5%">勾选</td>
                        </tr>
                        <tr>
                            <td id="id1" width="5%">0</td>
                            <td id="tdright1" width="15%"> Loading..</td>
                            <td id="tdwrong1" width="15%"> Loading..</td>
                            <td id="tdguide1" width="60%"> Loading..</td>
                            <td width="5%">
                                <input id="v1" align="center" type="checkbox" onclick="store(this,0)">
                            </td>
                        </tr>
                        <tr>
                            <td id="id2" width="5%">0</td>
                            <td id="tdright2" width="15%"> Loading..</td>
                            <td id="tdwrong2" width="15%"> Loading..</td>
                            <td id="tdguide2" width="60%"> Loading..</td>
                            <td width="5%">
                                <input id="v2" align="center" type="checkbox" onclick="store(this,1)">
                            </td>
                        </tr>
                        <tr>
                            <td id="id3" width="5%">0</td>
                            <td id="tdright3" width="15%"> Loading..</td>
                            <td id="tdwrong3" width="15%"> Loading..</td>
                            <td id="tdguide3" width="60%"> Loading..</td>
                            <td width="5%">
                                <input id="v3" align="center" type="checkbox" onclick="store(this,2)">
                            </td>
                        </tr>
                        <tr>
                            <td id="id4" width="5%">0</td>
                            <td id="tdright4" width="15%"> Loading..</td>
                            <td id="tdwrong4" width="15%"> Loading..</td>
                            <td id="tdguide4" width="60%"> Loading..</td>
                            <td width="5%">
                                <input id="v4" align="center" type="checkbox" onclick="store(this,3)">
                            </td>
                        </tr>
                        <tr>
                            <td id="id5" width="5%">0</td>
                            <td id="tdright5" width="15%"> Loading..</td>
                            <td id="tdwrong5" width="15%"> Loading..</td>
                            <td id="tdguide5" width="60%"> Loading..</td>
                            <td width="5%">
                                <input id="v5" align="center" type="checkbox" onclick="store(this,4)">
                            </td>
                        </tr>

                    </table>
                    <div class="row" align="center">
                        <button type="button" onclick="subPage()"> 上一页</button>
                        <label id="pageNumber"> &nbsp 1 &nbsp </label>
                        <button type="button" onclick="addPage()"> 下一页</button>
                        <br>
                    </div>
                    <br/>
                    <div class="row" align="center">
                        <button type="button" onclick="delGuide()" style="position:absolute;left:70%">
                            删除勾选的引导语
                        </button>

                    </div>
                    <br/>
                    <br/>
                    <div class="row" align="left" style="width: 80%">
                        <input id="newguide" type="text"
                               placeholder="请输入你要添加的引导语内容" size="80"/>

                    </div>
                    <br/>
                    <div class="row" align="center">
                        <button type="button" onclick="uploadGuide()" style="position:absolute;left:70%"
                        >
                            上传引导语
                        </button>

                    </div>
                </fieldset>
            </div>

        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="../static/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../static/js/bootstrap.js"></script>
<!-- PAGE LEVEL SCRIPTS -->
<script src="../static/js/jquery.prettyPhoto.js"></script>
<script src="../static/js/jquery.mixitup.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="../static/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="../static/js/custom.js"></script>
<!-- CUSTOM Gallery Call SCRIPTS -->
<script src="../static/js/galleryCustom.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>

    var pageNum = 1;
    var all_sets;
    var all_length = 0;
    var setsCheck = new Array();
    var res = new Array();

    function subPage() {
        if (pageNum <= 1) {
            alert("这是第一页!");
        }
        else {
            pageNum = pageNum - 1;
            sets_display(1);
            changePage();
        }
    }

    function addPage() {
        if (pageNum > all_length / 5) {
            alert("这是最后一页");
        }
        else {
            pageNum = pageNum + 1;
            sets_display(1);
            changePage();
        }
    }

    function store(vi, id) {
        if (vi.checked) {
            setsCheck[(pageNum - 1) * 5 + id] = true;
        }
        else {
            setsCheck[(pageNum - 1) * 5 + id] = false;
        }
    }

    function changePage() {
        var label = document.getElementById('pageNumber');
        label.innerText = String(pageNum);
    }

    changePage();
    //
    <!-- 可以用checked 这个属性来判断是不是选中了这题 -->
    //可以用getElementById来获得那个变量，但是一定要放在代码一定会执行到的地方中
    //input 有一个type域，如果是 "hidden",就是不显示

    function sets_display(typeid) {
        var ques_2_disp = 5;
        var reduce = all_length % 5;
        let final = (pageNum === parseInt(((all_length + 4) / 5)));
        if (final) {
            if (reduce == 0) {
                ques_2_disp = 5;
            }
            else {
                ques_2_disp = reduce;
            }

        }
        var startNum = (pageNum - 1) * 5;
        for (let i = 0; i < 5; i++) {

            var id = document.getElementById('id' + (i + 1));
            var tdright = document.getElementById('tdright' + (i + 1));
            var tdwrong = document.getElementById('tdwrong' + (i + 1));
            var tdguide = document.getElementById('tdguide' + (i + 1));

            if ((final && i >= reduce && ques_2_disp != 5) || all_length == 0) {
                id.innerText = ""
                tdright.innerText = "";
                tdwrong.innerText = "";
                tdguide.innerText = "";
                var vi = document.getElementById('v' + (i + 1));
                vi.type = "hidden";
            }
            else {
                id.innerText = all_sets["id" + (startNum + i)];
                tdright.innerText = all_sets["right" + (startNum + i)];
                tdwrong.innerText = all_sets["wrong" + (startNum + i)];
                tdguide.innerText = all_sets["guide" + (startNum + i)];
                if (typeid == 0) {
                    var vi = document.getElementById('v' + (i + 1));
                    vi.type = "checkbox";
                    vi.checked = false;

                } else {
                    var vi = document.getElementById('v' + (i + 1));
                    vi.type = "checkbox";
                    if (setsCheck[startNum + i]) {
                        vi.checked = true;
                    }
                    else {
                        vi.checked = false;
                    }
                }

            }

        }
    }

    sets_display();

    function viewGuide() {
        var right_answer = document.getElementById('right').value;
        var wrong_answer = document.getElementById('wrong').value;
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:8000/get_specificGuide/",
            data: {'right': right_answer, 'wrong': wrong_answer},
            success: function (data) {
                //alert(data['ques0']);
                all_sets = data;
                all_length = data["length"];
                sets_display(0);
                for (let i = 0; i < all_length; i++) {
                    setsCheck[i] = false;
                }
            },
            error: function (data) {
                alert("Some error!");
            }
        });
        return false;
    }

    function uploadGuide() {
        var right_answer = document.getElementById('right').value;
        var wrong_answer = document.getElementById('wrong').value;
        var newguide = document.getElementById('newguide').value;


        if (newguide.length != 0) {
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:8000/guide_upload/",
                data: {"right": String(right_answer), "wrong": String(wrong_answer), 'guide': String(newguide)},
                success: function (data) {
                    viewGuide();
                    alert("上传成功");
                },
                error: function (data) {
                    {#alert("Some error!");#}
                    alert(data["status"]);
                }
            });
        }
        else {
            alert("你还没有填写引导语!!");
        }
        return false;

    }

    function delGuide() {
        var number = 0;

        for (let i = 0; i < all_length; i++) {
            if (setsCheck[i] == true) {
                res.push(all_sets["id" + i]);
                number = number + 1;
            }
        }

        if (number > 0) {
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:8000/submit_GuideDel/",
                data: {"setsCheck": String(res)},
                success: function (data) {
                    viewGuide();
                    alert('删除成功');
                },
                error: function (data) {
                    {#alert("Some error!");#}
                    alert(data["status"]);
                }
            });
        }
        else {
            alert("你还没有选套题!!");
        }
        return false;


    }

</script>
<script>
    function confirmAct() {
        var msg = "您真的确定要退出吗？\n\n请确认！";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>
