<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">失语症辅助</a>
    </div>
    <!--右上角三个
    <div class="header-right">
        <a href="message-task.html" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
        <a href="message-task.html" class="btn btn-primary" title="New Task"><b>40 </b><i class="fa fa-bars fa-2x"></i></a>
        <a href="login.html" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>
    </div>
    -->
</nav>
<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <div class="user-img-div">
                    <img src="../../../static/img/user.png" class="img-thumbnail"/>

                    <div class="inner-text">
                        {% if classid == 0 %}
                            患者: {{ username }}
                        {% elif classid == 1 %}
                            医生: {{ username }}
                        {% endif %}

                        <br/>
                        <small>Welcome!</small>
                    </div>
                </div>

            </li>
            {#                //医生可见#}
            {% if classid == 1 %}
                <li>
                    <a class="active-menu" href="/after_login/"><i class="fa fa-dashboard "></i>菜单</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-desktop "></i>出题 <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/upload"><i class="fa fa-plus"></i>添加单个题目</a>
                        </li>
                        <li>
                            <a href="/makeSet"><i class="fa fa-edit"></i>出套题</a>
                        </li>
                        <li>
                            <a href="/addGuideline/"><i class="fa fa-plus"></i>添加引导语</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-yelp "></i>查看题库 <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/show"><i class="fa fa-coffee"></i>所有题目</a>
                        </li>
                        <li>
                            <a href="/setDisplay/"><i class="fa fa-eyedropper "></i>所有套题</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-circle-o "></i>患者情况 <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a href="/allGen/"><i class="fa fa-bell "></i>所有患者 </a>
                        </li>
                        <li>
                            <a href="/setArrange/"><i class="fa fa-comments-o "></i>套题分配情况</a>
                        </li>
                    </ul>
                </li>
                {#                    患者可见#}
            {% elif classid == 0 %}
                <li>
                    <a href="#"><i class="fa fa-desktop "></i>查询 <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/view_allMyDoneSet/"><i class="fa fa-plus"></i>已完成套题</a>
                        </li>
                        <li>
                            <a href="/view_allMyDoneSet/"><i class="fa fa-comments-o"></i>可视化分析</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-desktop "></i>做题 <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/view_allMyToDoSet/"><i class="fa fa-plus"></i>未做套题</a>
                        </li>
                    </ul>
                </li>

            {% endif %}
            <li>
                <a href="#"><i class="fa fa-dashboard "></i>系统设置<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/logout/" onclick="return confirmAct();"><i class="fa fa-home"></i>退出登录</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

