<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Responsive Bootstrap Advance Admin Template</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link href="../static/css/font-awesome.css" rel="stylesheet"/>
    <!-- PAGE LEVEL STYLES -->
    <link href="../static/css/prettyPhoto.css" rel="stylesheet"/>
    <!--CUSTOM BASIC STYLES-->
    <link href="../static/css/basic.css" rel="stylesheet"/>
    <!--CUSTOM MAIN STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">失语症辅助</a>
        </div>
        <!--右上角三个
        <div class="header-right">
            <a href="message-task.html" class="btn btn-info" title="New Message"><b>30 </b><i class="fa fa-envelope-o fa-2x"></i></a>
            <a href="message-task.html" class="btn btn-primary" title="New Task"><b>40 </b><i class="fa fa-bars fa-2x"></i></a>
            <a href="login.html" class="btn btn-danger" title="Logout"><i class="fa fa-exclamation-circle fa-2x"></i></a>
        </div>
        -->
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <div class="user-img-div">
                        <img src="../static/img/user.png" class="img-thumbnail"/>

                        <div class="inner-text">
                            {% if classid == 0 %}
                                患者: {{ username }}
                            {% elif classid == 1 %}
                                医生: {{ username }}
                            {% endif %}
                            <br/>
                            <small>Welcome!</small>
                        </div>
                    </div>

                </li>


                <li>
                    <a class="active-menu" href="index.html"><i class="fa fa-dashboard "></i>菜单</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-desktop "></i>出题 <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/upload/"><i class="fa fa-plus"></i>添加单个题目</a>
                        </li>
                        <li>
                            <a href="/makeSet/"><i class="fa fa-edit"></i>出套题</a>
                        </li>
                        <li>
                            <a href="/guide_upload/"><i class="fa fa-comments-o"></i>上传引导语</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-yelp "></i>查看题库 <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/show/"><i class="fa fa-coffee"></i>所有题目</a>
                        </li>
                        <li>
                            <a href="/setDisplay/"><i class="fa fa-eyedropper "></i>所有套题</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-circle-o "></i>患者情况 <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/allGen/"><i class="fa fa-bell "></i>所有患者 </a>
                        </li>
                        <li>
                            <a href="/setArrange/"><i class="fa fa-comments-o "></i>套题分配情况</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <table align="center" width="800" border=1 bordercolor="#00ff99">
                    <tbody>
                    <tr>
                        <td colspan="6" align="center">套题列表</td>
                    </tr>
                    <tr>
                        <td width="10%">id</td>
                        <td width="40%">套题描述</td>
                        <td width="20%">题目数量</td>
                        <td width="20%">操作</td>
                    </tr>
                    {% for row in posts.object_list %}
                        <tr>
                            <td width="10%">{{ row.id }}</td>
                            <td width="40%">{{ row.setDes }}</td>
                            <td width="20%">{{ row.count }}</td>
                            <td width="20%"><a href="">查看详情</a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" align="center">
                            {% if posts.has_previous %}
                                <a href="/setDisplay?p={{ posts.previous_page_number }}">上一页</a>
                            {% else %}
                                <a href="#">上一页</a>
                            {% endif %}

                            {% if posts.has_next %}
                                <a href="/setDisplay?p={{ posts.next_page_number }}">下一页</a>
                            {% endif %}

                            <span>
                               {{ posts.number }} / {{ posts.paginator.num_pages }}
                            </span>


                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->


    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- /. FOOTER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<script src="../static/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="../static/js/bootstrap.js"></script>
<!-- PAGE LEVEL SCRIPTS -->
<script src="../static/js/jquery.prettyPhoto.js"></script>
<script src="../static/js/jquery.mixitup.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="../static/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="../static/js/custom.js"></script>
<!-- CUSTOM Gallery Call SCRIPTS -->
<script src="../static/js/galleryCustom.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

</body>
</html>
